h2::first-letter{
  text-transform: uppercase;
}

.item-card-pokemon{
  padding: 12px;
  transition: 0.4s ease;
}

.contenedor-acciones{
  display:flex;
  flex-direction: column;
  gap:12px;
}

.contenedor-acciones .mdc-button:first-child{
  background-color: red;
}

.contenedor-acciones .mdc-button:first-child:hover{
  background-color: rgb(255, 34, 34);
}

.item-card-pokemon button{
  width: 100%;
}

.marcado{
  background-color: rgba(143, 224, 143, 0.539);
}